.chat--list {
    background-color: #fff;
    border-radius: 10px;
    height: 87vh;
    width: 40%;
    overflow-y: auto;
}

.chat--box {
    overflow-y: auto;
    height: 72vh;
}

.chat--box_container {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    height: 87vh;
}

.empty--chat {
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    height: 87vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messenger .messages-photo img {
    height: 30px;
    width: 30px;
}

.messenger .message--list {
    padding: 0.8rem 0.6rem;
    border-top: 1px solid #0e0e0e05;
    border-bottom: 1px solid #0e0e0e05;
}

.messenger .message--list.active {
    background: #0e0e0e05;
    border-left: 2px solid var(--blue-200);
}

.messenger .message--list:hover {
    background-color: #0e0e0e05;
}

.messenger .chat--box .sender--img img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.messenger .chat--box .reciever .main--text {
    background-color: var(--blue-800);
    padding: 0.4rem 1rem;
    border-radius: 0px 5px 5px 5px;
    max-width: 400px;
    font-size: 0.9rem;
    white-space: pre-wrap;
    padding: 0.8rem;
}

.messenger .sender {
    margin-left: auto;
    max-width: max-content;
}

.messenger .sender .main--text {
    background-color: var(--blue-200);
    padding: 0.4rem 1rem;
    border-radius: 5px 0px 5px 5px;
    font-size: 0.9rem;
    max-width: 400px;
    white-space: pre-wrap;
    padding: 0.8rem;
}

.messenger .sender .main--text p {
    color: #fff;
}

.messenger .chat--box {
    position: relative;
}

.messenger .messenger--top {
    background-color: #fff;
    padding: 1.3rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0 0;
}

.messenger .send--message {
    background-color: #fff;
    padding: 1.3rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px 10px 0 0;
}

.message-search input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0.4rem;
    border-radius: 10px;
    width: 100%;
    display: block;
    outline: rgba(0, 0, 0, 0.1);
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.6);
}

.message-search input::placeholder {
    font-size: 0.8rem;
}


/* Trial Messenger Settings */

.pic {
    width: 4rem;
    height: 4rem;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

.contact {
    position: relative;
    margin-bottom: 1rem;
    padding-left: 5rem;
    height: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact .pic {
    position: absolute;
    left: 0;
}

.contact .name {
    font-weight: 500;
    margin-bottom: 0.125rem;
}

.contact .message,
.contact .seen {
    font-size: 0.75rem;
    color: #999;
}

.contact .badge {
    box-sizing: border-box;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    text-align: center;
    font-size: 0.9rem;
    padding-top: 0.125rem;
    border-radius: 1rem;
    top: 0;
    left: 2.5rem;
    background: #333;
    color: white;
}

.chat {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 87vh;
    z-index: 2;
    box-sizing: border-box;
    border-radius: 1rem;
    background: #fff;
    box-shadow: 0 0 8rem 0 rgba(0, 0, 0, 0.1), 0rem 2rem 4rem -3rem rgba(0, 0, 0, 0.5);
}

.chat .contact.bar {
    margin: 1rem;
    box-sizing: border-box;
}

.chat .messages {
    padding: 1rem;
    background: #F7F7F7;
    flex-shrink: 2;
    overflow-y: auto;
    max-height: 100%;
    box-shadow: inset 0 2rem 2rem -2rem rgba(0, 0, 0, 0.05), inset 0 -2rem 2rem -2rem rgba(0, 0, 0, 0.05);
}

.chat .messages .time {
    font-size: 0.8rem;
    background: #EEE;
    padding: 0.25rem 1rem;
    border-radius: 2rem;
    color: #999;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
}

.chat .messages .message {
    display: relative;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin: 1rem;
    background: #FFF;
    border-radius: 1.125rem 1.125rem 1.125rem 0;
    min-height: 2.25rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 66%;
    font-size: 0.9rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.075), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.1);
}

.chat .messages .message.parker {
    margin: 1rem 1rem 1rem auto;
    border-radius: 1.125rem 1.125rem 0 1.125rem;
    background: var(--blue-200);
    color: white;
    font-size: 0.9rem;
}

.chat .messages .message .typing {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    margin-right: 0rem;
    box-sizing: border-box;
    background: #ccc;
    border-radius: 50%;
}

.chat .messages .message .typing.typing-1 {
    -webkit-animation: typing 3s infinite;
    animation: typing 3s infinite;
}

.chat .messages .message .typing.typing-2 {
    -webkit-animation: typing 3s 250ms infinite;
    animation: typing 3s 250ms infinite;
}

.chat .messages .message .typing.typing-3 {
    -webkit-animation: typing 3s 500ms infinite;
    animation: typing 3s 500ms infinite;
}

.chat .input {
    position: relative;
    box-sizing: border-box;
    flex-basis: 4rem;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 0.5rem 0 1.5rem;
}

.chat .input i {
    font-size: 1.5rem;
    margin-right: 1rem;
    color: #666;
    cursor: pointer;
    transition: color 200ms;
}

.chat .input i:hover {
    color: #333;
}

.chat .input input {
    border: none;
    background-image: none;
    background-color: white;
    padding: 0.5rem 1rem;
    /* margin-right: 1rem; */
    border-radius: 1.125rem;
    flex-grow: 2;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1), 0rem 1rem 1rem -1rem rgba(0, 0, 0, 0.2);
    font-weight: 400;
    letter-spacing: 0.025em;
}

.chat .input input::placeholder {
    color: #999;
    font-size: 0.9rem;
}

@-webkit-keyframes typing {
    0%,
    75%,
    100% {
        transform: translate(0, 0.25rem) scale(0.9);
        opacity: 0.5;
    }
    25% {
        transform: translate(0, -0.25rem) scale(1);
        opacity: 1;
    }
}

@keyframes typing {
    0%,
    75%,
    100% {
        transform: translate(0, 0.25rem) scale(0.9);
        opacity: 0.5;
    }
    25% {
        transform: translate(0, -0.25rem) scale(1);
        opacity: 1;
    }
}

.pic.stark {
    background-image: url("https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png");
}

.pic.banner {
    background-image: url("https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/4/4f/BruceHulk-Endgame-TravelingCapInPast.jpg");
}

.pic.thor {
    background-image: url("https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/9/98/ThorFliesThroughTheAnus.jpg");
}

.pic.danvers {
    background-image: url("https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/0/05/HeyPeterParker.png");
}

.pic.rogers {
    background-image: url("https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/7c/Cap.America_%28We_Don%27t_Trade_Lives_Vision%29.png");
}

#exampleInputEmoji {
    position: absolute;
    bottom: 100%;
    right: 0;
}